<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>

        {{>header}}
        {{>footer}}
    </body>
</html>